#%RAML 1.0
---
title: e-BookMobile API
baseUri: http://api.e-bookmobile.com/{version}
version: v1

/users:
  /authors:
    /{authorname}:
    
  /books:
    get:
      queryParameters:
        author:
          displayName: Author
          type: string
          description: An author's full name
          example: Mary Roach
          required: false
        publicationYear:
          displayName: Pub Year
          type: number
          description: The year released for the first time in the US
          example: 1984
          required: false
        rating:
          displayName: Rating
          type: number
          description: Average rating (1-5) submitted by users
          example: 3.14
          required: false
        isbn:
          displayName: ISBN
          type: string
          minLength: 10
          example: 0321736079
    put:
      # To make a PUT call, your URI looks like http://api.e-bookmobile.com/books/Stiff?access_token=ACCESS TOKEN
      queryParameters:
        access_token:
          displayName: Access Token
          type: string
          description: Token giving you permissions to make call
          required: true
    post:

    /{bookTitle}:
      get:
        # Response definition: a map of one or more HTTP status codes
        # Each response may include descriptions, examples, or schemas.
        description: Retrieve a specific book title
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "data": {
                      "id": "SbBGk",
                      "title": "Stiff: The Curious Lives of Human Cadavers",
                      "description": null,
                      "datetime": 1241533193,
                      "genre": "science",
                      "author": "Mary Roach",
                      "link": "http://e-bookmobile.com/books/Stiff"
                    },
                    "success": true,
                    "status": 200
                  }
      put:
      delete:

      /author:
        get:
        
      /publisher:
        get:
